.flowerPetals > path {
	animation: flower-petal-animation 4s steps(36) infinite;
	stroke: black;
	stroke-width: 2px;
}

.flower {
	animation: flower-rotation 7s 0s infinite alternate ease-in-out forwards;
	transform-origin: 35% 10%
}

@keyframes flower-petal-animation {
         0%     { fill: #ff0000; }
     8.333%     { fill: #ff8000; }
    16.667%     { fill: #ffff00; }
    25.000%     { fill: #80ff00; }
    33.333%     { fill: #00ff00; }
    41.667%     { fill: #00ff80; }
    50.000%     { fill: #00ffff; }
    58.333%     { fill: #0080ff; }
    66.667%     { fill: #0000ff; }
    75.000%     { fill: #8000ff; }
    83.333%     { fill: #ff00ff; }
    91.667%     { fill: #ff0080; }
    100.00%     { fill: #ff0000; }
}

@keyframes flower-rotation {
	0% {
		transform: rotate(0deg) scale(1);
	}
	100% {
		transform: rotate(360deg) scale(1.5);
	}
}

.drop-petal {
	fill: yellow;
	/* animation: swing ease-in-out 1s infinite alternate; */
	animation: drop-petal-animation 4s ease-in-out forwards;
	transform-origin: 35% 18%;
}

.flowerPetals1 > path {
	stroke: black;
	stroke-width: 2px;
}

@keyframes drop-petal-animation {
    10%	{ transform: translateY(40px) rotate(20deg); }
    25%	{ transform: translateY(70px) rotate(-8deg); }
    40%	{ transform: translateY(100px) rotate(20deg); }
    55%	{ transform: translateY(150px) rotate(-8deg); }
    70%	{ transform: translateY(220px) rotate(20deg); }
		90%	{ transform: translateY(300px) rotate(-8deg); }
		100% { transform: translateY(320px) rotate(0deg); }
}

@keyframes swing {
    0% { transform: rotate(4deg); }
    100% { transform: rotate(-4deg); }
}

.frown {
	transform: rotate(180deg);
	stroke-dasharray: 27;
	stroke-dashoffset: -27;
	animation: unhappy 1s 1.4s forwards;
	transform-origin: 28.7% 13.8%;
}

@keyframes unhappy {
	to {
		stroke-dashoffset: -52;
	}
}

.smile {
	stroke-dasharray: 52;
	stroke-dashoffset: 0;
	animation: happy 2s 0.2s forwards;
	transform-origin: 28.7% 13.8%;
}

@keyframes happy {
	to {
		stroke-dashoffset: -27;
	}
}

@keyframes draw_in {
	from {
		stroke-dashoffset: 100%;
	}
	to {
		stroke-dashoffset: 0;
	}
}
.stem {
   animation: draw_in 2s both;
   stroke-dasharray: 130%;
   width: 100px;   
}